.main{
	padding: 0px;
	width: 100%;
}
/*VISUAL*/
.visual{
	background: url(https://res.cloudinary.com/buituan/image/upload/v1562319274/Project1/bg.jpg) center center fixed;
	background-size: cover;
	background-color: red;
	z-index: -1;
	padding: 0px;
	width: 100%;
}
.visual-title{
	background-color: #00000070;
	text-align: center;
	padding-top: 10%;
}
.visual-title p{
	margin-bottom: 0px;
	color: white;
	font-size: 3em;
	font-weight: bold;
}
ul{
	margin-bottom: 0px;
}
.visual-detail{
	padding:5% 25% 5% 25%;
	list-style-type: none;
	background-color: #00000070;
	color: white;
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(20%,1fr));
	grid-gap: 10px;
}
.visual-detail li{
	background-color: #0000009e;
}
.visual-detail li a{
	text-decoration: none;
	color: white;
}
.visual-detail li a img{
	margin-top: 20%;
	margin-bottom: 10%;
}
.visual-detail li:hover{
	background-color: var(--redColor);
}
.more-visual{			 		/*CHƯA XONG THÊM HIỆU ỨNG*/
	background-color: #00000070;
	padding-bottom: 5%;
	display: none;
}
@media screen and (max-width: 480px) {
	.visual-title p{
		font-size: 1em;
	}
	.visual-detail{
		grid-template-columns: repeat(auto-fill,minmax(30%,1fr));
		padding:5% 15% 5% 15%;
	}
	.visual-detail li:nth-child(8) {
		display: none;
	}
	.visual-detail li:nth-child(7) {
		display: none;
	}
	.visual-detail li a{
		font-size: 0.5em;
	}	
	.visual-detail li a img{
		max-width: 50%;
	}
	.more-visual {
		display: block;
	}
}
/*VISUAL*/
/*COMMENT*/
.comment{
	display: flex;
	flex-direction: column;
	padding: 10px 0px 0px 0px; 
	width: 100%;
}
.prev, .next{
	background-color: white;
	border:0px;
	color: #666666;
	font-size: 60px;
}
.prev:hover{
	color: black;
}
.next:hover{
	color: black;
}
.detail-comment{
	text-align: justify;
}
.img-comment img{
	width: 100%;
	padding-bottom: 10px;
}
.more-comment .row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	background-color: #F3F3F3;
}
.show-btn{
	display: none;
}
@media screen and (max-width: 480px) {
	.more-comment .row{
		padding: 2%;
	}
	.hidden-btn{
		display: none;
	}
	.show-btn{
		display: block;
		text-align: center;
	}
	.show-btn i{
	margin-right: 1em;
}
}
.more-comment p{
	margin: 20px 20px 20px 0px;
	font-size: 20px;
	font-weight: bold;
}
.more-comment button {
	padding: 10px 20px 10px 20px;
	border: 2px solid #00487A;
	color: #00487A;
	background-color: white;
}
.more-comment a{
	text-decoration: none;
	color: #00487A;
}
.more-comment button:hover{
	background-color:  #00487A;
}
.more-comment button:hover a{
	color: white;
}

/*COMMENT*/
/*STATISTIC*/
.statistic{
	background: url('https://res.cloudinary.com/buituan/image/upload/v1562404233/Project1/contents-bg.jpg') no-repeat 0 0;
	background-size: cover;
	color: white;
	padding: 0;
	width: 100%;
}
.statistic>p{
	padding-top: 90px;
	margin: 0px;
	background-color: #000000a6;
	font-size: 2.75em;
	font-weight: bold;
}
.statistic ul{
	margin: 0px;	
	list-style-type: none;
	background-color: #000000a6;
	padding: 90px 10% 5% 10%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
	grid-gap: 20px;
}
.statistic ul li h1{
	font-size: 3em;
	font-weight: bold;
}
.statistic ul li p{
	font-size: 1.5em;
}
@media screen and (max-width: 480px){
	.statistic>p{
		padding-top: 50px;
		font-size: 1em;
	}
	.statistic ul {
		padding: 50px 1% 5% 1%;
		grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
		grid-gap: 0.5em;
	}	
	.statistic ul li h1{
		font-size: 2em;
	}
	.statistic ul li p{
		font-size: 1em;
	}
}
.more-statistic{
	padding: 80px 10% 30px 10%;
	background-color: #000000db;
}
.more-statistic p{
	font-size: 3em;
	font-weight: bold;
}
.more-statistic button{
	background-color: transparent;
	border: 2px solid white;
	margin-top: 50px;
	padding: 10px 5% 10px 5%;
	font-size: 2em;
}
.more-statistic a{
	text-decoration: none;
	color: white;
}
.more-statistic button:hover{
	background-color: white;
	border: 2px solid white;
}
.more-statistic button:hover a{
	color: black;
}
@media screen and (max-width: 480px) {
	.more-statistic {
		padding: 40px 10% 30px 10%;
	}
	.more-statistic p{
		font-size: 1.25em;
	}
	.more-statistic button{
	border: 2px solid white;
	margin-top: 0;
	padding: 10px 5% 10px 5%;
	font-size: 1em;
}
}
/*STATISTIC*/
/*MERIT*/
.merit{
	padding: 5% 0% 5% 0%;
	background-color: #00487A;
	color: white;
	width: 100%;
}
.merit p{
	font-size: 3em;
	font-weight: bold;
}
.merit ul{
	list-style-type: none;
	padding: 5% 10% 0% 10%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30em,1fr));
	grid-gap: 20px;
}
.img-merit{
	background-color: white;
	border-radius: 50%;
}
.img-merit ul li{
	height: 140px;
}
.img-merit img{
	margin-top: 15%;
	width: 80%;
	height: 70%;
}
.merit ul li a{
	display: inline-grid;
	font-size: 1em;
	text-decoration: none;
	color: white;
	text-align: left;
}
@media screen and (max-width: 480px) {
	.merit p{
		font-size: 1em;
	}
	.merit ul{
		grid-template-columns: repeat(auto-fill, minmax(6em,1fr));
	}
	.merit ul li a{
		padding: 10px 0px 0px 0px;
	}
}
/*MERIT*/

.trial{
	padding: 3%;
	width: 100%;
}
.trial p{
	font-size: 3em;
}
.trial button{
	background-color: red;
	color: white;
	padding: 10px 5% 10px 5%;
	font-size: 20px;
}
.trial a{
	text-decoration: none;
	color: white;
}
.trial button:hover{
	background-color: #BF0D0D;
}
@media screen and (max-width: 480px) {
	.trial p{
		font-size: 1.5em;
	}
}
/*MERIT*/

/*RESPONSIVE*/
@media screen and (max-width: 480px) {
	header{
		display: none;
	}
}
/*RESPONSIVE*/