*{
	margin: 0px;
	padding: 0px;
}
body {
  margin: 0;
  padding: 0px;
  /*font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
  --fontFamily: Arial, Arial Black, Verdana, Georgia, Times New Roman, Trebuchet MS;
  --redColor: #ce273c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  line-height: 1;
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
